@import "../../styles/variables";

.form{
    text-align: center;
    padding: 20px;
    input, textarea{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid black;
        background-color: $bg;
    }
    button{
        color: $secondary;
        font-weight: bold;
        font-size: 1.3rem;
        &:hover{
            background-color: $secondary;
            color: $text-color-secondary;
        }
    }
}