@import "../../styles/variables";

.title{
    color: $primary;
    font-size: 3rem;
    letter-spacing: 0.05em;
    padding: 2rem 0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
.button{
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: $primary;
    border: 1px solid $text-color-secondary;
    padding: 10px 20px;
    &:hover{
        background-color: inherit;
        border: 1px solid $primary;
        color: $primary;
    }
    @media (max-width: 575.5px){
        display: none;
    }
}
.body{
    position: relative;
}
.card{
    cursor: pointer;
    padding: 0;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    height: 100%;
    &:hover{
        box-shadow: 0 0 40px black;
        transform: translateY(-5px);
        transition: 0.2s ease-in-out;
        .button{
            bottom: 50%;
            transform: translateY(50%);
            z-index: 2;
            transition: 0.4s ease-in-out;
        }
        .text{
            opacity: 0;
            transition: 0.4s ease-in-out;
        }
    }
}
@media (max-width: 575.5px){
    .row{
        overflow-y: scroll;
        flex-wrap: nowrap;
        .items{
            flex-basis: 40%;
        }
    }
}